.mealsList{
    top: 77vh;
    left: 20vw;
    position:absolute;
    width: 60%;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin: auto;
    padding: 1% 0%;

}
ul{
    padding: 0%;
    margin: 0%;
}

li{
    margin: 2px 3%;
    list-style-type: none;
}
hr{
    margin: 2% 3%;
    color: rgba(0, 0, 0, 0.276);
}
.price{
    color: brown;
}