.main_header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: rgb(94, 10, 10);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.innerdiv{
    height: 90%;
    width: 70%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: auto;
}
.icon{
    height: 60%;
    width: 21%;
    color: white;
    margin: auto 0px;
}
.mealsImage{
    width: 100%;
    height: 50vh;
}
.rightIcon{
    height: 75%;
    width: 20%;
    background-color: rgb(70, 10, 10);
    border-radius:  20px;
    margin: auto;
    margin-right: 5%;
    padding: auto;
}
h1{
    margin: auto;
    margin-left: 2%;
}
h2{
    margin: auto 3%;
    margin-left: 0;
}
.number_of_items{
    background-color: rgb(186, 8, 8);
    color: white;
    font-weight: bold;
    height: 65%;
    width: 15%;
    border-radius: 30px;
    margin: auto 0;
    font-size: 110%;
    text-align: center;
}


